@{
    ViewBag.Title = "Home Page";
    Person greed = new("GreedNeSS", 30);
}

<div class="text-center">
    <h1 class="display-4">Welcome to Home Page!</h1>
</div>
<div>Person Data</div>
<div>Name: @greed.Name</div>
<div>Age: @greed.Age</div>